.content{
    position: absolute;
    top: 100px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin-top: 100px; */
    margin-left: 100px;
    overflow-x: auto;
}

.content table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .content th, .content td {
    padding: 10px;
    /* text-align: left; */
    border-bottom: 1px solid #ddd;
  }
  
  .content th {
    background-color: #f2f2f2;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .content {
      width: 95%;
      padding: 10px;
    }
  }